.pokedex-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.pokedex-header {
  width: 100%;
  text-align: center;
}

.pokedex {
  background-image: linear-gradient(to bottom right, gray, red);
}