.pokecard {
  background: lightgray;
  border: solid 1px lightsteelblue;
  border-radius: 7px;
  text-align: center;
  margin: 1em;
  width: 20%;
  flex-direction: column;
}

.pokecard * {
  background: lightgray;
  width: 30%;
  margin: auto;
}