.pokedex {
  position: relative;
  overflow: hidden;
}

.pokedex-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.win {
  left: -2000px;
  -webkit-animation: winSlide 0.8s ease-out 0.5s forwards;
  animation: winSlide 0.8s ease-out 0.5s forwards;
}

@-webkit-keyframes winSlide {
  100% { left: 0; }
}

@keyframes winSlide {
  100% { left: 0; }
}

.lose {
  right: -2000px;
  -webkit-animation: loseSlide 0.8s ease-out 0.5s forwards;
  animation: loseSlide 0.8s ease-out 0.5s forwards;
}

@-webkit-keyframes loseSlide {
  100% { right: 0; }
}

@keyframes loseSlide {
  100% { right: 0; }
}

.pokedex-header, .pokedex-exp,  .pokedex-win {
  width: 100%;
  text-align: center;
}